<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Welcome to our group, where we explore light-induced phenomena in molecules and materials. 
          Our main focus centers on unraveling mechanisms through the synergy of quantum chemistry and chemoinformatics complemented by spectroscopy.
          Our investigation spans captivating phenomena such as: 
        </p>
        <ul class="list-inline">
          <li ><a class="btn btn-lg btn-outline">photocatalysis</a></li><br>
          <li ><a class="btn btn-lg btn-outline">photoswitching</a></li><br>
          <li ><a class="btn btn-lg btn-outline">photocaging</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>
          We explore the captivating realm of light-induced processes in chemistry, from electron transfers to isomerization. 
          Our interdisciplinary approach merges quantum chemistry, chemoinformatics, and spectroscopy. 
          By decoding molecular reactions and pathways using advanced computational methods, we strive to unlock the secrets of photoinduced phenomena. 
          Our mission is to guide the optimization of light-driven processes, achieving enhanced reactivity and efficiency.
          We explore the captivating realm of light-induced processes in chemistry, from electron transfers to isomerization. 
          Our interdisciplinary approach merges quantum chemistry, chemoinformatics, and spectroscopy. 
          By decoding molecular reactions and pathways using advanced computational methods, we strive to unlock the secrets of photoinduced phenomena. 
          Our mission is to guide the optimization of light-driven processes, achieving enhanced reactivity and efficiency.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="/research/" class="btn btn-lg btn-success" style="background-color:#2C001E;"><i class="fa-solid fa-flask" style="color:#FFFFFF;"></i>&nbsp Research Areas</a>
      </div>
    </div>
  </div>
</section>
