<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>SHNITSEL is a database that encompasses photochemical reactions commonly used by computational chemists to evaluate new theoretical methods. 
          It covers various types of reactions including intramolecular [2+2]-cycloadditions, photodissociation reactions, and <i>cis/trans</i> isomerizations, 
          which are valuable in synthetic organic chemistry and method development. 
          Currently, the database includes gas phase reactions such as intramolecular [2+2]-cycloadditions, 4𝜋-disrotatory electrocyclizations, 
          photodissociation (σ-bond-cleavage reactions), excited state proton transfer reactions, <i>roaming</i> mechanisms, 
          and several <i>cis/trans</i> isomerizations in cyclic and acyclic molecules. 
          The authors aim to continuously expand the database to encompass other reactions as the field progresses. 
          Additionally, future plans involve expanding the database to include reactions in the condensed phase, 
          considering the impact of close packing of explicit solvent molecules or molecular crystals on the chemo- and stereoselectivities of these reactions.
        </p>
      </div>
      <div class="col-lg-4">
        <p> We establish this website to provide a centralized platform for excited state data (excited state dynamics trajectories).
          Whether you are looking for databases for a specific showcase to test/validate methods 
          or a way to showcase results and share projects, this is the starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
<!--        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline"> -->
<!--          <i class="fa fa-download"></i> Download Theme -->
<!--        </a> -->
      </div>
    </div>
  </div>
</section>
