<!-- actual code -->
<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br><br>
        <h2>Gallery</h2>
        <hr class="star-primary">
        <br>
      </div>
        
      {% for image in site.categories.gallery %}
        <div class="col-lg-3">
          {% if image.description %}
            <div class="gimage-container">
              <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/gallery/{{ image.galleryimg }}" alt="{{ image.alt }}"/>
              <div class="gimage-hover">
                <p>
                  {{ image.description }}
                </p>
              </div>
            </div>
          {% else %}
            <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/gallery/{{ image.galleryimg }}" alt="{{ image.alt }}"/>
          {% endif %}
        </div>
      {% endfor %}
    </div> 
  </div>
</section>
