<!-- Location -->
<section id="location">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Where to find Us</h2>
        <hr class="star-primary">
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1 text-center">
        <p>
          Friedrich-Alexander-Universität Erlangen-Nürnberg <br>
          Department Chemie und Pharmazie <br>
          Nägelsbachstraße 25 <br>
          D-91052 Erlangen <br>
          <br>
          <a href="mailto:carolin.mueller6@googlemail.com" class="btn btn-lg btn-success"><i class="fa-solid fa-envelope" style="color:#FFFFFF;"></i>&nbsp Send a Mail </a>
        </p>
      </div>
      <div class="col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.3764056030536!2d11.002037876506867!3d49.590650871440786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a1f9febc60b051%3A0x48a014eb184eda8f!2sN%C3%A4gelsbachstra%C3%9Fe%2025%2C%2091052%20Erlangen%2C%20Deutschland!5e0!3m2!1sde!2slu!4v1691168918039!5m2!1sde!2slu" width="90%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
