<!-- Portfolio Modals -->
{% for post in site.team.categories.member %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.img %}
              <img src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            {% if post.memberimg %}
              <img src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/members/{{ post.memberimg }}" class="img-responsive img-centered" alt="{{ post.alt }}" width="50%">
            {% endif %}
            
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            
            <ul class="list-inline item-details">
              
              {% if post.team %}
              <li>Team:
                <strong>{{ post.team }}</strong>
              </li>
              {% endif %}

              {% if post.category %}
              <li>Research Field:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
              
              {% if post.project %}
              <li>Projects:
                <strong>{{ post.project }}</strong>
              </li>
              {% endif %}
              
            </ul>
            <br><br>
            <ul class="list-inline">
              {% if post.github %}
                <li><a href="{{ post.github }}" target="_blank"><i class="fa-brands fa-github" style="font-size:48px;color:#2C001E;"></i></a> </li>
              {% endif %}
              {% if post.orcid %}
                <li><a href="{{ post.orcid }}" target="_blank"><i class="fa-brands fa-orcid" style="font-size:48px;color:#2C001E;"></i></a> </li>
              {% endif %}
              {% if post.researchgate %}
                <li><a href="{{ post.google }}" target="_blank"><i class="fa-brands fa-researchgate" style="font-size:48px;color:#2C001E;"></i></a> </li>
              {% endif %}
              {% if post.google %}
                <li><a href="{{ post.google }}" target="_blank"><i class="fa-brands fa-google" style="font-size:48px;color:#2C001E;"></i></a> </li>
              {% endif %}
              {% if post.web %}
                <li><a href="{{ post.web }}" target="_blank"><i class="fa-solid fa-globe" style="font-size:48px;color:#2C001E;"></i></a> </li>
              {% endif %}
              {% if post.linkedin %}
                <li><a href="{{ post.linkedin }}" target="_blank"><i class="fa-brands fa-linkedin" style="font-size:48px;color:#2C001E;"></i></a> </li>
              {% endif %}
              {% if post.twitter %}
                <li><a href="{{ post.twitter }}" target="_blank"><i class="fa-brands fa-twitter" style="font-size:48px;color:#2C001E;"></i></a> </li>
              {% endif %}
            </ul>
            <br><br>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close
            </button>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
