<section id="pub">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/PublicationHeader.png" alt="Publication Header" />
        <br><br>
        <h2>Publications</h2>
        <hr class="star-primary">
        <br><br>
      </div>
    </div>

    {% for news in site.categories.news %}
        <div class="row">

        </div>
        <br><br>
    {% endfor %}
  </div>
</section>
