{% assign sorted_news = site.news | sort: 'url' | reverse %}
{% for post in sorted_news %}
  {% if post.color-bg %}
  <section class="success" id="post">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          {% if post.postimg %}
            <img class="img-responsive" src="{{ post.postimg }}" alt="{{ post.alt }}" /><br>
          {% endif %}
          {% if post.link_img %}
            <br>
            <center>
            <a href="{{ post.link_img }}" class="btn btn-lg btn-outline"><i class="fa-solid fa-link" style="color:#FFFFFF;"></i>&nbsp Further Information</a>
            </center>
          {% endif %}
        </div>
        <div class="col-lg-7">
          {% if post.fa %}
            <h3><i class="{{ post.fa }}" style="font-size:36px;color:#FFFFFF;"></i>&nbsp {{ post.datum }} – {{ post.title }}</h3><br>
          {% else %}
            <h3>{{ post.datum }} – {{ post.title }}</h3><br>
          {% endif %}
          <!-- description -->
          {% if post.description %}
            <p>{{ post.description }}</p><br>
          {% endif %}
          {% if post.link_descr %}
            <br>
            <center>
            <a href="{{ post.link_descr }}" class="btn btn-lg btn-outline"><i class="fa-solid fa-link" style="color:#FFFFFF;"></i>&nbsp Further Information</a>
            </center>
          {% endif %}
        </div>
      </div> 
    </div>
  </section>
  {% else %}
  <!-- post with white background -->
  <section id="post">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          {% if post.fa %}
            <h3><i class="{{ post.fa }}" style="font-size:36px;color:#2C001E;"></i>&nbsp {{ post.datum }} – {{ post.title }}</h3><br>
          {% else %}
            <h3>{{ post.datum }} – {{ post.title }}</h3><br>
          {% endif %}
          <!-- description -->
          {% if post.description %}
            <p>{{ post.description }}</p><br>
          {% endif %}
          {% if post.link_descr %}
            <center>
            <br>
            <a href="{{ post.link_descr }}" class="btn btn-lg btn-success"><i class="fa-solid fa-link" style="color:#ffffff;"></i>&nbsp Further Information</a>
            </center>
          {% endif %}
        </div>
        <div class="col-lg-5">
          {% if post.postimg %}
            <img class="img-responsive" src="{{ post.postimg }}" alt="{{ post.alt }}" /><br>
          {% endif %}
          {% if post.link_img %}
            <center>
            <br>
            <a href="{{ post.link_img }}" class="btn btn-lg btn-success"><i class="fa-solid fa-link" style="color:#FFFFFF;"></i>&nbsp Further Information</a>
            </center>
          {% endif %}
        </div>
      </div> 
    </div>
  </section>
  {% endif %}
{% endfor %}
