<section id="pub">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/PublicationHeader.png" alt="Publication Header" />
        <br><br>
        <h2>Publications</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>2023</h1>
        <br>
      </div>
    </div>

    {% for pub in site.posts %}
      {% if site.categories.publication %}
        <div class="row">
          <div class="col-lg-1 text-center">
              <h3 style="color:#7E5273"> {{ pub.number }} </h3>
          </div>
          <div class="col-lg-8">
            <p>
              {{ pub.authors }} <br>
              {{ pub.pubtitle }} <br>
              <i>{{ pub.journal }}</i> <b>{{ pub.year }}</b><br>
            </p>
            {% if pub.pubimg %}
            <br>
            <div class="col-lg-10 text-center">
              {% if pub.pubhtml %}
                <a href="{{ pub.pubhtml }}" class="portfolio-link">
                  <img class="img-responsive" src="img/pub/{{ pub.pubimg }}" alt="{{ pub.alt }}" />
                </a>
              {% else %}
                <a href="{{ pub.pubarxiv }}" class="portfolio-link">
                  <img class="img-responsive" src="img/pub/{{ pub.pubimg }}" alt="{{ pub.alt }}" />
                </a>
              {% endif %}
            {% endif %}
            <ul class="list-inline">
              <li><a href=" " class="btn btn-lg btn-outline" style="color:#2C001E;"><i class="fa-solid fa-lock" style="font-size:24px;color:#2C001E;"></i> &nbsp HTML </a></li>
              <li><a href="https://chemrxiv.org/engage/chemrxiv/article-details/64649714f2112b41e9b2957e" class="btn btn-lg btn-outline" style="color:#2C001E;"><i class="fa-solid fa-lock-open" style="font-size:24px;color:#2C001E;"></i> &nbsp ChemRrxiv </a></li>
            </ul>
          </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>2022</h1>
        <br>
      </div>
    </div>

    <p>ToDo</p>

  </div>
</section>
