<section id="pub">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/PublicationHeader.png" alt="Publication Header" />
        <br><br>
        <h2>Publications</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>2023</h1>
        <br>
      </div>
    </div>

    {% for pub in site.publications %} <!-- .categories.2023 %} -->
    <div class="row">
      <div class="col-lg-1 text-center">
          <h3 style="color:#7E5273"> {{ pub.number }} </h3>
      </div>
      <div class="col-lg-8">
        <p>
          {{ pub.authors }} <br>
          {{ pub.title }} <br>
          <i>{{ pub.journal }}</i> <b>{{ pub.year }}</b><br>
        </p>
      </div>
    </div>
    {% endfor %}

    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>2022</h1>
        <br>
      </div>
    </div>

    <p>ToDo</p>

  </div>
</section>
