<!-- loop over all posts -->
{% for topic in site.categories.example %}
  {% if topic.color-bg %}
  <section class="success" id="post">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
          <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/portfolio/{{ topic.displayimg }}" alt="{{ topic.alt }}" /><br>
          <br><br>
          <ul class="list-inline" style="font-size:20px;">
            {% if topic.category %}
              <li><i class="fa-solid fa-layer-group" style="font-size:20px;color:#ffffff;"></i>&nbsp<b>Topic:</b> {{ topic.team }}</li><br>
            {% endif %}
            {% if topic.project %}
              <li><i class="fa-solid fa-diagram-project" style="font-size:20px;color:#ffffff;"></i>&nbsp<b>Project:</b> {{ topic.team }}</li><br>
            {% endif %}
            {% if topic.team %}
              <li><i class="fa-solid fa-user-group" style="font-size:20px;color:#ffffff;"></i>&nbsp<b>Team:</b> {{ topic.team }}</li><br>
            {% endif %}
          </ul>
        </div>
        <div class="col-lg-8">
          <h3>{{ topic.displaytitle }}</h3>
          <!-- <hr class="star-light"> -->
          <br><br>
          <!-- description -->
          {% if topic.description %}
            <p>{{ topic.description }}</p><br>
          {% endif %}
          {% if topic.img %}
            <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/portfolio/{{ topic.img }}" alt="{{ topic.alt }}" /><br>
            {% if topic.further-link %}
              {% if topic.fa-link %}
                <br><a href="{{ topic.further-link }}" class="btn btn-lg btn-outline" target="_blank"><i class="{{ topic.fa-link }}" style="font-size:24px;color:#ffffff;"></i> &nbsp Further Reading </a>
              {% else %}
                <br><a href="{{ topic.further-link }}" class="btn btn-lg btn-outline" target="_blank"> &nbsp Further Reading </a>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% else %}
  <!-- post with white background -->
  <section id="post">
    <div class="container">
      <div class="row">
        <!-- displayimg -->
        <div class="col-lg-3 col-lg-offset-1">
          <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/portfolio/{{ topic.displayimg }}" alt="{{ topic.alt }}" /><br>
          <br><br>
          <ul class="list-inline" style="font-size:20px;">
            {% if topic.category %}
              <li><i class="fa-solid fa-layer-group" style="font-size:20px;color:#2C001E;"></i>&nbsp<b>Topic:</b> {{ topic.team }}</li><br>
            {% endif %}
            {% if topic.project %}
              <li><i class="fa-solid fa-diagram-project" style="font-size:20px;color:#2C001E;"></i>&nbsp<b>Project:</b> {{ topic.team }}</li><br>
            {% endif %}
            {% if topic.team %}
              <li><i class="fa-solid fa-user-group" style="font-size:20px;color:#2C001E;"></i>&nbsp<b>Team:</b> {{ topic.team }}</li><br>
            {% endif %}
          </ul>
        </div>
        <!-- text -->
        <div class="col-lg-8">
          <h3>{{ topic.displaytitle }}</h3>
          <!-- <hr class="star-primary"> -->
          <br><br>
          <!-- description -->
          {% if topic.description %}
            <p>{{ topic.description }}</p><br>
          {% endif %}
          {% if topic.img %}
            <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/portfolio/{{ topic.img }}" alt="{{ topic.alt }}" /><br>
            {% if topic.further-link %}
              {% if topic.fa-link %}
                <br><a href="{{ topic.further-link }}" class="btn btn-lg btn-success" target="_blank"><i class="{{ topic.fa-link }}" style="font-size:24px;color:#ffffff;"></i> &nbsp Further Reading </a>
              {% else %}
                <br><a href="{{ topic.further-link }}" class="btn btn-lg btn-success" target="_blank"> &nbsp Further Reading </a>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endfor %}
