{% assign members = site.team | where_exp: "member", "member.categories contains include.category" %}
{% if members.size > 0 %}
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br><br> 
        <h2>{{ include.title }}</h2>
        <hr class="star-primary">
        <br>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for member in members %}
      <div class="portfolio-flex-item portfolio-item">
        <center><h3 style="color:#3C1028;">{{ member.title }}</h3></center>
        <br>
        <img src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/members/{{ member.memberimg }}" class="img-responsive" alt="{{ member.title }}">
        <br><br>
        <center>
          <p>
          {% if member.mail %}
            <i class="fa-solid fa-envelope" style="font-size:16px;color:#2C001E;"></i>  
            <a href="mailto:{{ member.mail }}" style="color:#2C001E;">{{ member.mail }}</a><br>
          {% endif %}
          {% if member.phone %}
            <i class="fa-solid fa-phone" style="font-size:16px;color:#2C001E;"></i> {{ member.phone }} <br>
          {% endif %}
          {% if member.office %}
            <i class="fa-solid fa-location-dot" style="font-size:16px;color:#2C001E;"></i> {{ member.office }} <br>
          {% endif %}
          </p>
          <br>
          <ul class="list-inline">
            {% if member.github %}
              <li><a href="{{ member.github }}" target="_blank"><i class="fa-brands fa-github" style="font-size:48px;color:#2C001E;"></i></a> </li>
            {% endif %}
            {% if member.orcid %}
              <li><a href="{{ member.orcid }}" target="_blank"><i class="fa-brands fa-orcid" style="font-size:48px;color:#2C001E;"></i></a> </li>
            {% endif %}
            {% if member.google %}
              <li><a href="{{ member.google }}" target="_blank"><i class="fa-brands fa-google" style="font-size:48px;color:#2C001E;"></i></a> </li>
            {% endif %}
          </ul>
        </center>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
