<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <img class="img-responsive" src="https://raw.githubusercontent.com/CompPhotoChem/compphotochem.github.io/main/img/GroupHeader.png" alt="Group Header" /> -->
        <br><br> 
        <h2>Alumni </h2>
        <hr class="star-primary">
        <br>
      </div>
    </div>
     <div class="col-lg-12">
      {% for member in site.categories.alumni %}
      <center>
          <ul class="list-inline" style="font-size:24px;">
            <li style="display:inline; color:#3C1028;"><b>{{ member.title }}</b>, </li>
            <!-- university -->
            {% if member.university %}
              <li style="display:inline;"><i class="fa-solid fa-location-dot" style="color:#2C001E;"></i> {{ member.university }}, </li>
            {% endif %}
            <!-- email -->
            {% if member.mail %}
              <li style="display:inline;"><i class="fa-solid fa-envelope" style="color:#2C001E;"></i> <a href="mailto:{{ member.mail }}" style="color:#2C001E;">{{ member.mail }}</a></li>
            {% endif %}
          </ul>
          <br>
      </center>
    </div>
    {% endfor %}
    </div>  
  </div>
</section>
