<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}

  {% include team_head.html %}
  
  {% include team-section.html category="postdoc" title="Postdoctoral Researcher" %}
  {% include team-section.html category="phdmember" title="Doctoral Researcher" %}

  {% include team-section-purple.html category="master" title="Master Students" %}
  {% include team-section-purple.html category="bachelor" title="Bachelor Students" %}

  {% include team-section.html category="others" title="Other Members" %}
  
  {% include footer.html %}
  {% include js.html %}
</body>
  
</html>
